			/* Menus */
			
			body {
			margin:0px;
			padding:0px;
			font-family: 'Roboto', sans-serif;
			}
			
			a:link {
				text-decoration:none;
			}
			
			.margin-page {
				margin-left:140px;
				width: 990px;
			}
			.centered {
				width:990px;
				height:100%;
				position:relative;
			}
			.centered-text {
				text-align:center;
			}
			

			/* --------------------------------- */
			
			/* Top Menu*/
			
			#top-menu {
				height:38px;
				width: 990px;
				margin-bottom:2px;
				text-align:center;
				position:relative;
				font-size:14px;
			}
			.bbc-logo {
				margin-top:6px;
			}
			A.top-menu-link {color:#333333; font-weight:bold;}
				
				
			.table-top-menu {
				border-collapse: collapse;
				empty-cells: hide;
			}
				
			td {
				border-right: 1px solid transparent;
				border-bottom: 4px solid transparent;
			}
				
			.td-borda-menu-top {
				border-right: 1px solid #b1b1b1;
			}
			
			.sem-borda {
				border:none;
			}
			
			.tabela-sem-borda{
				border-right: 0px;
			}
			
			.link1:hover {
				border-bottom: 4px solid #1188bb;
			}
			.link2:hover {
				border-bottom: 4px solid black;
			}
			.link3:hover {
				border-bottom: 4px solid #930505;
			}
			.link4:hover {
				border-bottom: 4px solid yellow;
			}
			.link5:hover {
				border-bottom: 4px solid #70bbea;
			}
			.link6:hover {
				border-bottom: 4px solid #f42cae;
			}
			.link7:hover {
				border-bottom: 4px solid #513547;
			}
			.link8:hover {
				border-bottom: 4px solid #513547;
			}
			.link9:hover {
				border-bottom: 4px solid #513547;
			}
			
			.more-padding {
				padding-right:30px;
			}
			
			.linha {
				height:1px;
				background-color:#b1b1b1;
			}
			
			/* --------------------------------- */
			
			/* Menu 2 */
			
			#page-menu2 {
				height:57px;
				background-color:#bb1919;
			
			}
			
			.imagem-news {
				height: 50px;
				margin-left: 140px;
				padding-right: 660px;
				padding-top: 5px;
			}
			.tabela2{
				border-collapse: separate;
			}
			.borda-find-news {
				border: 1px solid #b25c5c;
				padding: 5px 27px 5px 13px;
			}
			
			.text-find-news {
				font-size: 19px;
				color: white;
			}
			
			.texto-link:hover {
				text-decoration:underline;
			}
			
			/* Search Box */
			
			.search-box{
				margin-right:0px;
				padding-left:15px;
				width:140px;
				color:black;
			}
			.fundo-search-box{
				color:black;
				background-color:#e4e4e4;
				width:130px;

			}
				
			.button-search {
				margin-right:0px;
				margin-left:0px;
				padding:0px;
				float:left;
				}
			.dive-search-box {
				width:178px;
				height:25px;
				background-color:#e4e4e4;
				position:absolute;
				left:942px;
				top:6px;
				margin-right:0px;
				margin-left:0px;
				padding:0px;
			}
			::placeholder {
			  color:black;
			  font-weight:bold;
			}
			
			/* --------------------------------- */
			
			/* Menu 3 */
			
			#page-menu3 {
				height:38px;
				background-color:#a91717;
			}
			
			.table3 {
				border-collapse: collapse;
				border-right: 1px solid #af4646;
			}
			
			.link:hover {
				border-bottom: 4px solid white;
			}
			
			td.table-3 {border-bottom: 4px solid white;}
			
			A.menu-link3 {color:white; font-size:14px;}
			
			.linkab:hover {
				background-color:black;
			}
		
			.custom-select select {
                display: none;
            }

			.select-selected {
				background-color: #a91717;
				color:white;
				border-color: transparent;
				margin-right:30px;
				height:30px;
				width:60px;
				padding:0;
				text-align:center;
			}
			
			.padding-menu-more {
				padding-left:5px;
				padding-right:5px;
			}
			.padding-menu-geral {
				padding-top:8px;
				padding-bottom:2px;
			}
			
			
			/* --------------------------------- */
			
			/* Content */
			
			.content {
				width: 990px;
			}
			.titulo-content {
				padding-left:10px;
				font-size:20px;
				position:absolute;
				top: 120px;
			}
			.sublinhado-vermelho {
				height:3px;
				width:103px;
				background-color:#a91717;
				position:absolute;
				left:150px;
				top: 166px;
			}
			.tirulo-materia1 {
				color:#747474;
				position:absolute;
				left:150px;
				top: 163px;
				font-weight:bold;
			}
			
			A.link-cor {color:#747474;}
			
			A.link-cor:visited {text-decoration: none;}
			
			.linkc:hover {
				color:#1167a8;
			}
			.container1 {
				height:70px;
				width:230px;
				font-size:14px;
				color:#747474;
				position:absolute;
				left:150px;
				top: 225px;
			}
			.imagem-mat1 {
				position:absolute;
				left:398px;
				top: 225px;
			}
			
			.imagem-tamanho {
				height:220px
			}
			.hora1 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:170px;
				top: 320px;
			}
			
			.technology1 {
				font-size:14px;
				color:#a91717;
				position:absolute;
				left:260px;
				top: 320px;
			}
			A.link-cor2 {color:#a91717;}
			A.link-cor2:visited {text-decoration: none;}
			
			
			.linha-hora {
				background-color:#dddbdb;
				height:15px;
				width:1px;
				position:absolute;
				left:252px;
				top:320px;
			}
			
			.linha-vermelha {
				background-color:#a91717;
				height:1.5px;
				width:40px;
				position:absolute;
				left:150px;
				top: 346px;
			}
			
			A.link-cor3 {color:black;}
			A.link-cor3:visited {text-decoration: none;}
			
			.link1-final-mat1 {
				font-size:14px;
				color:black;
				position:absolute;
				left:150px;
				top: 355px;
			}
			
			.link2-final-mat1 {
				font-size:14px;
				color:black;
				position:absolute;
				left:150px;
				top:379px;
			}
			
			.linha-fim-mat1 {
				background-color: #ceced1;
				height: 1px;
				width:641px;
				position:absolute;
				left:150px;
				top:477px;	
			}
			
			.imagem-mat2 {
				width:215px;
				height:125px;
				position:absolute;
				left:150px;
				top:496px;
				
			}
			.titulo-mat2 {
				width:203px;
				font-size:19px;
				font-weight:bold;
				position:absolute;
				left:150px;
				top:610px; 
			}
			.content-mat2 {
				color:#747474;
				font-size:14px;
				width:210px;
				position:absolute;
				left:150px;
				top:670px
			}
			.hora2 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:170px;
				top: 763px;
			}
			.technology2 {
				font-size:14px;
				color:#a91717;
				position:absolute;
				left:260px;
				top:763px;
			}
			.linha-vermelha2 {
				background-color:#a91717;
				height:1.5px;
				width:40px;
				position:absolute;
				left:150px;
				top: 789px;
			}
			.linha-hora2 {
				background-color:#dddbdb;
				height:15px;
				width:1px;
				position:absolute;
				left:252px;
				top:763px;
			}
			.link2-final-mat2 {
				font-size:14px;
				color:black;
				position:absolute;
				top:785px;
				left:150px;
				width:215px;
			}
			
			.imagem-mat3 {
				width:215px;
				height:125px;
				position:absolute;
				left:398px;
				top:496px;
			}
			.titulo-mat3 {
				width:203px;
				font-size:19px;
				font-weight:bold;
				position:absolute;
				left:398px;
				top:610px;
			}
			.content-mat3 {
				color:#747474;
				font-size:14px;
				width:210px;
				position:absolute;
				left:398px;
				top:670px;
			}
			.hora3 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:415px;
				top:750px;
			}
			.technology3 {
				font-size:14px;
				color:#a91717;
				position:absolute;
				left:522px;
				top:750px;
			}
			.linha-vermelha3 {
				background-color:#a91717;
				height:1.5px;
				width:40px;
				position:absolute;
				left:398px;
				top:789px;
			}
			.linha-hora3 {
				background-color:#dddbdb;
				height:15px;
				width:1px;
				position:absolute;
				left:516px;
				top:764px;
			}
			.link2-final-mat3 {
				font-size:14px;
				color:black;
				position:absolute;
				top:785px;
				left:398px;
				width:210px;
			}
			.imagem-play {
				height:12px;
			}
			.link2-final-mat4 {
				font-size:14px;
				color:black;
				position:absolute;
				top: 828px;
				left:398px;
				width:210px;
			}
			.mat-pequena1 {
				width:150px;
				font-size:18px;
				font-weight:bold;
				position:absolute;
				left:640px;
				top:476px;
			}
			.hora4 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:661px;
				top:555px;
			}
			.linha-hora4 {
				background-color:#dddbdb;
				height:15px;
				width:1px;
				position:absolute;
				left:735px;
				top:570px;
			}
			.technology4 {
				font-size:14px;
				color:#a91717;
				position:absolute;
				left:645px;
				top:576px;
			}
			.linha-fim-mat2 {
				background-color: #ceced1;
				height: 1px;
				width:641px;
				position:absolute;
				left:150px;
				top:890px;
			}
			
			.linha-meio-mat2 {
				position:absolute;
				width:1px;
				height:383px;
				background-color: #ceced1;
				left:380px;
				top:495px;
			}
			
			.linha-meio-mat3 {
				position:absolute;
				width:1.5px;
				height:383px;
				background-color: #ceced1;
				left:625px;
				top:495px;
			}
			
			.linha-meio-matpequena1 {
				position:absolute;
				width:152px;
				height:1px;
				background-color: #ceced1;
				left:640px;
				top:622px;
			}
			.mat-pequena2 {
				width:150px;
				font-size:18px;
				font-weight:bold;
				position:absolute;
				left:640px;
				top:613px;
			}
			.hora5 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:661px;
				top:693px;
			}
			.technology5 {
				font-size:14px;
				color:#a91717;
				position:absolute;
				left:645px;
				top:713px;
			}
			.linha-meio-matpequena2 {
				position:absolute;
				width:152px;
				height:1px;
				background-color: #ceced1;
				left:640px;
				top:760px;
			}
			.linha-hora5 {
				background-color:#dddbdb;
				height:15px;
				width:1px;
				position:absolute;
				left:743px;
				top:710px;
			}
			.mat-pequena3 {
				width:150px;
				font-size:18px;
				font-weight:bold;
				position:absolute;
				left:640px;
				top:750px;
			}
			.hora6 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:661px;
				top:807px;
			}
			.technology6 {
				font-size:14px;
				color:#a91717;
				position:absolute;
				left:645px;
				top:827px;
			}
			.linha-hora6 {
				background-color:#dddbdb;
				height:15px;
				width:1px;
				position:absolute;
				left:743px;
				top:823px;
			}
			
			/* Materia Lateral */
			.titulo-lateral{
				font-size:25px;
				position:absolute;
				left:830px;
				top:160px;
			}
			
			.ma1-lateral-imagem {
				position:absolute;
				left:830px;
				top:220px;
			}
			.ma1-lateral-imagem-tamanho {
				height:65px;
			}
			
			A.link-cor-lateral {color:black;}
			A.link-cor-lateral:visited {color:#747474;}
			A.link-cor-lateral:visited:hover {color: #1167a8;}
			
			A.link-cor-email {color:black;}
			A.link-cor-email:visited {color:#1167a8;}
			A.link-cor-email:visited:hover {color: #1167a8;}
			
			.mat1-lateral-titulo {
				font-size:16px;
				font-weight:bold;
				width:200px;
				position:absolute;
				top: 220px;
				left: 955px;
			}
			.hora7 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:972px;
				top:270px;
			}
			
			/* Materia Lateral 2 */
			
			.ma2-lateral-imagem {
				position:absolute;
				left:830px;
				top:305px;
			}
			.ma2-lateral-imagem-tamanho {
				height:65px;
			}
			
			.mat2-lateral-titulo {
				font-size:16px;
				font-weight:bold;
				width:200px;
				position:absolute;
				top: 305px;
				left: 955px;
			}
			
			.hora8 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:972px;
				top:358px;
			}
			.linha-hora8 {
				background-color:#dddbdb;
				height:15px;
				width:1px;
				position:absolute;
				left:1083px;
				top:372px;
			}
			.technology8 {
				font-size:14px;
				color:#a91717;
				position:absolute;
				left:955px;
				top:378px;
			}
			
			/* Materia Lateral 3 */
			
			.ma3-lateral-imagem {
				position:absolute;
				left:830px;
				top:405px;
			}
		
			
			.mat3-lateral-titulo {
				font-size:16px;
				font-weight:bold;
				width:200px;
				position:absolute;
				top: 405px;
				left: 955px;
			}
			
			.hora9 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:972px;
				top:458px;
			}
			.linha-hora9 {
				background-color:#dddbdb;
				height:15px;
				width:1px;
				position:absolute;
				left:1083px;
				top:472px;
			}
			.technology9 {
				font-size:14px;
				color:#a91717;
				position:absolute;
				left:955px;
				top:478px;
			}
			/* Materia Lateral 4 */
			
			.ma4-lateral-imagem {
				position:absolute;
				left:830px;
				top:510px;
			}
			
			.mat4-lateral-titulo {
				font-size:16px;
				font-weight:bold;
				width:200px;
				position:absolute;
				top: 510px;
				left: 955px;
			}
			
			.hora10 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:975px;
				top:542px;
			}
			.linha-hora10 {
				background-color:#dddbdb;
				height:15px;
				width:1px;
				position:absolute;
				left:1087px;
				top:557px;
			}
			.technology10 {
				font-size:14px;
				color:#a91717;
				position:absolute;
				left:955px;
				top:563px;
			}
			/* Materia Lateral 5 */
			
			.ma5-lateral-imagem {
				position:absolute;
				left:830px;
				top:590px;
			}
			.ma5-lateral-imagem-tamanho {
				height:65px;
				width: 118px;
			}
			
			.mat5-lateral-titulo {
				font-size:16px;
				font-weight:bold;
				width:180px;
				position:absolute;
				top: 590px;
				left: 955px;
			}
			
			.hora11 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:977px;
				top:642px;
			}
			.linha-hora11 {
				background-color:#dddbdb;
				height:15px;
				width:1px;
				position:absolute;
				left:1089px;
				top:656px;
			}
			.technology11 {
				font-size:14px;
				color:#a91717;
				position:absolute;
				left:955px;
				top:663px;
			}
			/* Materia Lateral 6 */
			
			.ma6-lateral-imagem {
				position:absolute;
				left:830px;
				top:688px;
			}
			
			.mat6-lateral-titulo {
				font-size:16px;
				font-weight:bold;
				width:180px;
				position:absolute;
				top: 688px;
				left: 955px;
			}
			
			.hora12 {
				font-size:14px;
				color:#747474;
				position:absolute;
				left:977px;
				top:740px;
			}
			.linha-hora12 {
				background-color:#dddbdb;
				height:15px;
				width:1px;
				position:absolute;
				left:1089px;
				top:755px;
			}
			.technology12 {
				font-size:14px;
				color:#a91717;
				position:absolute;
				left:955px;
				top:760px;
			}
			
			.linha-lateral2 {
				background-color: #ceced1;
				height:795px;
				width:1px;
				position:absolute;
				left:811px;
				top:185px;
			}
			
			/* Contatos */
			
			.contatos-titulo {
				font-size:26px;
				position:absolute;
				left:830px;
				top:800px;
			}
			.telefone-image {
				position:absolute;
				left:830px;
				top:874px;
				height:22px;
			}
			.texto-telefone {
				font-size:14px;
				position:absolute;
				left:860px;
				top:864px;
			}
			.email-imagem {
				height:18px;
				position:absolute;
				left:830px;
				top:910px;
			}
			.email-text {
				font-size:14px;
				position:absolute;
				left:861px;
				top:898px;
			}
			
			.email-bold {
				font-weight:bold;
			}
			.twitter-imagem {
				height:18px;
				position:absolute;
				left:828px;
				top:944px;
			}
			.twitter-text {
				font-size:14px;
				position:absolute;
				left:862px;
				top:931px;
			}
			
			